@use "./base.scss";

// put your custom CSS here!
.page-title-logo {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .page-title-logo-img {
    margin: -1rem 0 0 0;
    aspect-ratio: 1;
    border-radius: 0;
  }
}